@model IEnumerable<HIMS.Models.Dashboard>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Visitors List</h2>

<p>
    @Html.ActionLink("Check in New Visitor", "CheckinVisitor")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birth_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Check_In_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Check_Out_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Payment_Due)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Advanced_Payment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birth_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Check_In_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Check_Out_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Payment_Due)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Advanced_Payment)
        </td>
        <td>
            @Html.ActionLink("Update info", "UpdateVisitorInfo", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Check out Visitor", "CheckoutVisitor", new { id=item.Id })
        </td>
    </tr>
}

</table>
