@model HIMS.Models.ReservationDashboard

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Reservation Dashboard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Room_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birth_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birth_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Check_In_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Check_In_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Check_Out_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Check_Out_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Payment_Due)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Payment_Due)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "ListOfReservations")
</p>
